header{
    background-color: rgb(25, 28, 86);
    color: rgb(39, 76, 113);
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid #170f3e50;
    padding: 16px;
    font-family: cursive;
}

main{
    background-color: rgb(25, 28, 86);
    color: rgb(39, 76, 113);
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid #170f3e50;
    padding: 16px;
    font-family: cursive;
}

.artigo-autor{
    font-weight:bold ;
}
img{
    height: 500px;
    width: 600px;
}

footer{
    background-color: rgb(25, 28, 86);
    color: rgb(39, 76, 113);
    text-align: center;
    max-width: 100% ;
    margin: 0 auto;
    border: 5px solid #1e2559;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}